* {
  text-align: center;
}

section {
  margin: 1rem;
}

#bullImg {
  height: 3rem;
  width: 3rem;
}

img {
  height: 16rem;
  width: 16rem;
}

.stockBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 24;
}

.postContainer {
  border: 2px solid blue;
  margin: 1px;
}

.container {
  display: flex;
}

.searchAndAdd {
  display: flex;
}

.posChange {
  color: green;
}

.negChange {
  color: red;
}

.newsDiv {
  margin: 1rem;
}

.indexInfo {
  border: 2px solid blue;
  height: 40rem;
  overflow: scroll;
}

.editAndDelete {
  display: flex;
  justify-content: flex-end;
}

.endButton {
  cursor: pointer;
}

.newsdiv {
  margin: 1rem;
}

#indexInfo {
  flex: 1 1 0;
}

#posts {
  flex: 3 1 0
}
